LABEL arch
TEXT HELP
Boot the Veyra Linux Live on BIOS.
It allows you to start Veyra Linux or perform system maintenance.
ENDTEXT
MENU LABEL Veyra Linux Live (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%

# Accessibility boot option
LABEL archspeech
TEXT HELP
Boot the Veyra Linux Live on BIOS with speakup screen reader.
It allows you to start Veyra Linux or perform system maintenance with speech feedback.
ENDTEXT
MENU LABEL Veyra Linux Live (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on
