[Desktop Entry]
Type=Application
Name=Veyra Center
GenericName=Veyra Control Center
Comment=Manage Veyra Linux
Exec=/usr/bin/veyra-center
Icon=veyra
Terminal=false
Categories=System;Settings;
StartupNotify=true
